{% extends "index.html" %}
{% block form %}
  <form action="/get_audio" method="post" name="download_1">
      Download All Audios:<br>
      <input style="width:300px;" type="text" name="url_1" value="https://quizlet.com/121807831/4-flash-cards/"><br>
      <input type="submit" value="Download All">
  </form>
  <br>
  <form action="/get_starred_audio" method="post" name="download_2">
      Download Starred Audios:<br>
      <input style="width:300px;" type="text" name="url_2" value=""><br>
      <input type="submit" value="Download Starred">
  </form>
{% endblock %}
